<br>
<% if (data.CustomerName) { %>
    <p>Dear <%= data.CustomerName %>,</p>
<% } else { %>
    <p>Dear Customer,</p>
<% } %>
<br>
<div>
    <b style="color:rgb(0, 0, 0)"><%= data.message %></b>
</div>
<br>
