<br>Hi <%= data.Username %>,
<br><br>
<span>Welcome to <b>ePRINTit!</b>
    <br>
    <br> Your <b>ePRINTit</b> security code is <b><%= data.code %></b>.<br>
    It expires in 10 minutes. Don't share this code with anyone.
    <p>
        <br> Warm Regards,
        <br> ePRINTit
    </p>
</span>
