<br>Hi TBS Support,
<br>
    <br>New Application has been received by <%= data.CustomerName %> for <b>ePRINTit</b>. To review the application <b>click here</b>
    <p>
        <br> Warm Regards,
        <br> Admin
    </p>
</span>
