<br>Hi <%= data.firstName %>,
<br><br>
    <br>Username: <%= data.userName %>
    <br>User sign-up successful. Please <a href=<%= data.link %>>Click here to set password</a>.
    <p>
        <br> Warm Regards,
        <br> ePRINTit
    </p>
