<br>Hi <%= data.CustomerName %>,
<br><br>
<span>Welcome to <b>ePRINTit!</b>
    <br>
    <br> Your <b>ePRINTit</b> account creation request has successfully submitted.
    Our support will get in touch with you soon
    <p>
        <br> Warm Regards,
        <br> ePRINTit
    </p>
</span>
