/dependencies/nodejs/node_modules/
/graphql/dependencies/nodejs/node_modules/
/jsReports/dependencies/nodejs/node_modules/
/jsReports/node_modules/
/jsReports/lambda.zip
/jsReports/layer.zip
.idea/*
/graphql/node_modules/
/graphql/.idea/
/graphql/.vscode/
/graphql/package-lock.json
/publicAuth/node_modules/
/websockets/node_modules/
/generateReportData/node_modules/
/publicAuth/package-lock.json
/dotNetConversions/dotnetPPT
/emailEventFunction/node_modules/
/jsReports/logs/
/jsReports/data/storage/profiles/
jsReports/logs/*
/deleteJobs/node_modules
/healthcheck/node_modules/
/resendJobs/node_modules/
/resendJobs/package-lock.json
logFileConversionError/node_modules/
/deleteJobs/node_modules/*
/generateReportData/node_modules/*
/graphql/node_modules/*
/healthcheck/node_modules/*
/jsReports/node_modules/*
/publicAuth/node_modules/*
/cacheInvalidate/package-lock.json
/deleteJobs/package-lock.json
/emailEventFunction/package-lock.json
/generateReportData/package-lock.json
/healthcheck/package-lock.json
# /jsReports/package-lock.json
/logFileConversionError/package-lock.json
/s3PutEvent/package-lock.json
/websockets/package-lock.json
/s3EventConverted/package-lock.json
/openidConnect/node_modules
/orgAuth/dependencies/nodejs/node_modules
/orgAuth/node_modules
/orgAuth/.idea
/lambda.zip
/sendOfflineThingAlert/node_modules
/sendOfflineThingAlert/package-lock.json
/lambdaDependencies/node_modules
/lambdaDependencies/package-lock.json
/quotaBalance/node_modules
/quotaBalance/package-lock.json
/publicAuth/.idea
/dashboardDataAggregator/node_modules
/dashboardDataAggregator/package-lock.json
/translation/node_modules
/translation/package-lock.json
/pipService/
/ippFileEvent/node_modules
/ippService/node_modules
/.DS_Store
/orgAuth/.nyc_output
/orgAuth/coverage
/publicAuth/.vscode
/publicAuth/.dccache
/environment.json
publicAuth/coverage
publicAuth/.nyc_output
/importLambda/node_modules
/*/node_modules
/publicAuth/dependencies/nodejs/node_modules/
/publicAuth/dependencies/nodejs/package-lock.json
/cross-account-templates/smsFunction/node_modules