<br>Hi <%= data.firstName %>,
<br><br>
<span>Welcome to <b>ePRINTit!</b>
    <br>
    <br> Your <b>ePRINTit</b> account creation request has successfully submitted.
    Your username is <b><%= userData.Username %></b>
    and your password is <b><%= pwdData.Password %></b><br>
    Please login through above credentials.
    <b><%= data.linkData.link %></b>
    <p>
        <br> Warm Regards,
        <br> ePRINTit
    </p>
</span>
