<br>Hi <%= data.Username %>,
<br><br>
<span><b>Change </b><b>Password Notification!</b>
    <br>
    <br> Your <b>ePRINTit</b> account password has been changed successfully.<br>
    <br>
    New password is <%= data.Password %>.
    <p>
        <br> Warm Regards,
        <br> ePRINTit
    </p>
</span>
