<br>Hi <%= data.userName %>,
<br><br>
    <br>
    <br>We have received request to change your password. Please click on below link to change your password.
    This link will expire in 60 minutes. <a href=<%= data.link %>>Click here</a>
    <p>
        <br> Warm Regards,
        <br> ePRINTit
    </p>
