<br>Hi <%= data.userName %>,
<br><br>
<br>
<br>We have received request to set your password. Please click on below link to set your password.
This link will expire in 60 minutes. <a href=<%= data.link || data.linkData.link %>>Click here</a>
<p>
    <br> Warm Regards,
    <br> ePRINTit
</p>
